<?xml version="1.0" encoding="UTF-8" ?>
<go-plugin id="dunner-gocd-plugin" version="1">
    <about>
        <name>Dunner GoCD Plugin</name>
        <version>0.0.1</version>
        <description>GoCD Plugin for Dunner task runner based on Docker</description>
        <target-go-version>18.12.0</target-go-version>
        <vendor>
            <name>LeopardsLab</name>
            <url>https://github.com/leopardslab</url>
        </vendor>
    </about>
</go-plugin>